{% extends 'base.html' %}

{% block main %}

    {% for departamento in object_list %}
    <div class="row">
        <div class="col-sm-auto"><a href="{% url 'editar_departamentos' departamento.id %}">Editar</a></div>
        <div class="col-sm-auto"><a href="{% url 'deletar_departamentos' departamento.id %}">Deletar</a></div>
        <div class="col-lg">{{ departamento }}</div>


    </div>
    {% endfor %}
    <a href="{% url 'criar_departamentos' %}" class="btn btn-info"> Criar Departamentos</a>
{% endblock %}