{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}
    <form method="post" class="form-control">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-info">Salvar</button>
        {% if object %}
            <a href="{% url 'deletar_hora_extra' object.id %}" class="btn btn-danger">Deletar</a>
            <button type="button" id="used_toggle" my-value="{{ object.utilizada|lower }}"
                    onclick="update_used_toggle({{ object.id }},'{{ csrf_token }}')" class="btn btn-info" ></button>
        {% endif %}
    </form>
{% endblock %}

{% block script %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
{% endblock %}